html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}

.ant-form.search-bar {
  padding: 28px 30px;
  background: #fff;
  border-radius: 3px;
}

.table-list {
  background-color: #fff;
}

.pagination {
  text-align: right;
}
